; The Dynamic Cockpit requires the hook_textures_tag.dll hook. 
; It's currently not compatible with the 32-bit mode hook.
;
; This is a global-settings file. Set the following flag to 1 to enable the
; Dynamic Cockpit. Each individual cockpit must have its own *.dc file in the
; DynamicCockpit directory.

dynamic_cockpit_enabled = 1

; Some samples of how to move HUD regions:
; The format is:
; move_region = <REGION-NAME>, x0, y0, x1, y1
; Coordinates are normalized to the range 0..1, (0,0) is the top-left corner of your
; screen, (1,1) is the bottom-right corner. See the end of this document of valid
; HUD region names. You can only have a maximum of 8 move_region commands.

;move_region = LEFT_SENSOR_REGION, 0.15,-0.01,  0.35,0.24
;move_region = RIGHT_SENSOR_REGION, 0.65,-0.01,  0.85,0.24

;move_region = LEFT_TEXT_BOX_REGION, 0.15,0.6,  0.45,1.0
;move_region = RIGHT_TEXT_BOX_REGION, 0.55,0.6,  0.85,1.0

; Each cockpit must have its own *.dc file. Right now, the only commands that will be
; executed from this file are "move_region" commands. The rest will be ignored.


; The format to place HUD elements is:
;
; [Opt-name,Destination-texture-name]
; cover_texture = FileName
; cover_texture_size = width, height
; uv_coords1
; uv_coords2
; ...
; erase_region = N
; erase_region = M
; ...
;
; Where:
;
; Opt-name is the name of the Cockpit OPT file.
;
; Destination-texture-name is the name of the texture that will be replaced as seen in XwaOptEditor.
; See the examples below.
;
; cover_texture 
; (Optional) specifies the texture with transparency that will be used to cover the HUD.
; If this parameter is not specified, then the whole destination texture will be replaced with a HUD
; element. In some cases, this works because the OPT already has a nice frame around the destination
; texture. See the Assault Gunboat's targeting computer for an example.
;
; cover_texture_size = width, height
; The dimension (in pixels) of the cover texture. This command MUST be placed before any uv_coordinates.
; This element is *not* optional. If you're not using a cover texture, then this field specifies the
; dimensions of the destination texture you're replacing.
;
; uv_coords = source-slot-name; x0,y0, x1,y1 [; HexBackgroundColor ]
; Specifies the coordinates of a HUD element that will be copied from the screen (source slot) to the destination
; texture in the cockpit. See the notes below for valid source slot names.
; (x0,y0) is the top-left corner of the destination rectangle
; (x1,y1) is the bottom-right corner of the destination rectangle
; x0 may or may not be lower than x1, and the same applies for y0, y1. That way, you can mirror elements on each axis independently.
; HexBackgroundColor is the color of the background for this HUD element. This is optional; but if present it must
; be specified in hex format: 0xRRGGBB. The default color is dark blue if this item is omitted.
;
; erase_region = HUD-region-name
; (Optional) This command is used to erase HUD regions from the screen. See notes below for valid
; region names.
;
;
; Conditions:
;
; uv_coords must be grouped by texture.
; You can specify a maximum of 8 uv_coords and 8 erase_region commands per section.
;
;
; Be aware that certain OPTs have UV coordinates outside the range [0..1]. So, in some cases
; your destination coordinates may be "outside" the bounds set by dest-width,height. See the
; A-Wing's shield display for an example.
;
; You can press Ctrl+Alt+L to reload this file and apply changes. However, to load new cover textures you'll
; have to quit the current mission and reload it -- but you don't have to close XWA at all. You can press
; Ctrl+Alt+L to reload these settings while in the Concourse, the menu, or while in-flight (but not when loading
; a mission).
;
; Notes regarding the cover textures:
;
; You can make your own cover textures by exporting textures with XwaOptEditor and then making transparency
; holes in them with the editor of your choice. See the examples provided.
;
; If your new cover texture looks too dark with respect to the rest of the cockpit, then your cockpit may
; not have the proper illumination and the OPT may have to be fixed. Some cockpits have fully-illuminated
; interiors that are always bright regardless of the external light sources, while all cover textures react
; to light sources by default.

; Available Source Names (use these labels with the uv_coords command):
; LEFT_SENSOR_SRC
; RIGHT_SENSOR_SRC
; LASER_RECHARGE_SRC
; SHIELD_RECHARGE_SRC
; ENGINE_POWER_SRC
; BEAM_RECHARGE_SRC
; SHIELDS_SRC
; BEAM_LEVEL_SRC
; TARGETING_COMPUTER_SRC
; QUAD_LASERS_LEFT_SRC
; QUAD_LASERS_RIGHT_SRC
; LEFT_TEXT_BOX_SRC
; RIGHT_TEXT_BOX_SRC
; SPEED_THROTTLE_SRC
; MISSILES_SRC
; NAME_TIME_SRC
; NUM_SHIPS_SRC
; QUAD_LASERS_BOTH_SRC
; DUAL_LASERS_L_SRC
; DUAL_LASERS_R_SRC
; DUAL_LASERS_BOTH_SRC
; B_WING_LASERS_SRC
; SIX_LASERS_BOTH_SRC
; SIX_LASERS_L_SRC
; SIX_LASERS_R_SRC

; Available HUD regions (use these labels with the erase_region command):
; LEFT_SENSOR_REGION
; RIGHT_SENSOR_REGION
; SHIELDS_REGION
; BEAM_REGION
; TARGET_AND_LASERS_REGION
; LEFT_TEXT_BOX_REGION
; RIGHT_TEXT_BOX_REGION
; TOP_LEFT_REGION
; TOP_RIGHT_REGION



